* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: row nowrap;
}

ul.navbar {
    flex-grow: 1;
    list-style: none;
    background-color: darkolivegreen;
    padding: 1rem;
}

ul.navbar a {
    text-decoration: none;
    color: ivory;
    font-size: larger;
}

div.container {
    flex-grow: 9;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 90vw;
    justify-content: space-between;
    align-items: stretch;
    color: darkslategray;
}

main.container {
    padding: 2rem;
}

footer {
    background-color: honeydew;
    padding: 2rem;
    text-align: center;
}