{% extends 'catalog/base_generic.html' %}

{% block content %}
    {% if author %}
    <h1>{{ author.full_name }}</h1>
    <section id="author-info" class="info-section">
        <ul class="descr-list">
            <li class="list-item"><strong>Born:</strong> {{ author.birth_date }}</li>
            <li class="list-item"><strong>Died:</strong> {{ author.death_date }}</li>
        </ul>
    </section>
    {% comment %} TODO: add list of books authored {% endcomment %}
    <section id="author-books-info" class="info-section"></section>
    {% else %}
    <p>There are currently no information on this author.</p>
    {% endif %}
{% endblock content %}