{% extends 'catalog/base_generic.html' %}

{% block content %}
    {% if author %}
    <h1>{{ author.full_name }}</h1>
    <section id="author-info" class="info-section">
        <ul class="descr-list">
            <li class="list-item"><strong>Born:</strong> {{ author.birth_date }}</li>
            <li class="list-item"><strong>Died:</strong> {{ author.death_date }}</li>
        </ul>
    </section>
    <section id="author-books-info" class="info-section">
        <h2>The author wrote the following books:</h2>
        {% if author.books %}
        <ul class="descr-list">
            {% for book in author.books.all %}
            <li class="list-item"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    {% else %}
    <p>There are currently no information on this author.</p>
    {% endif %}
{% endblock content %}