{% extends 'catalog/base_generic.html' %}

{% block content %}
    {% if author %}
    <h1>{{ author.full_name }}</h1>
    <section id="author-info" class="info-section">
        <ul class="descr-list">
            <li class="list-item"><strong>Born:</strong> {{ author.birth_date }}</li>
            <li class="list-item"><strong>Died:</strong> {{ author.death_date }}</li>
        </ul>
    </section>
    <section id="author-books-info" class="info-section">
        <h2>The author wrote the following books:</h2>
        {% if author.books %}
        <table class="descr-table">
            <tr class="table-header">
                <td>Title</td>
                <td>Publication Date</td>
            </tr>
            {% for book in author.books.all %}
            <tr class="table-data">
                <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
                <td>{{ book.pub_date }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>There are currently no books under this author in the library.</p>
        {% endif %}
    </section>
    {% else %}
    <p>There are currently no information on this author.</p>
    {% endif %}
{% endblock content %}