{% extends 'catalog/base_generic.html' %}

{% block content %}
    <h1>Welcome to Marty's Library</h1>
    <h2>The library currently has the following books:</h2>
    {% if list_of_all_books %}
    <table id="book-list" class="list-table">
        <tr class="table-header">
            <th class="table-col-header">Title</th>
            <th class="table-col-header">Author(s)</th>
            <th class="table-col-header">Genre(s)</th>
        </tr>
        {% for book in list_of_all_books %}
        <tr class="table-data">
            <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
            <td>
                {% for author in book.authors.all %}
                <a href="{{ author.get_absolute_url }}">{{ author.full_name }}</a>, 
                {% endfor %}
            </td>
            <td>{{ book.display_genres }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No books where found.</p>
    {% endif %}
{% endblock content %}