{% extends 'catalog/base_generic.html' %}

{% block content %}
    <h1>My Borrowed Books</h1>
    {% if bookinstance_list %}

    <table class="book-table">
        <tr class="table-header-row">
            <th>Book Title</th>
            <th>Due By</th>
        </tr>
        {% for book_instance in bookinstance_list %}
        <tr class="table-content {% if book_instance.is_overdue %}text-danger{% endif %}">
            <td>
                <a href="{% url 'catalog:book-detail-view' book_instance.book.pk %}">{{ book_instance.book.title }}</a>
            </td>
            <td>{{ book_instance.due_back }}</td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    <p>You didn't borrow any books yet.</p>
    {% endif %}

{% endblock content %}