{% extends 'catalog/base_generic.html' %}

{% block content %}
    <h1>Welcome to Marty's Library</h1>
    <h3>This is your {{ num_visits }} visit to my site.</h3>
    <p>
        The library currently has {{ num_books }} books,
        written by {{ num_authors }} authors,
        across {{ num_genres }} genres,
        in {{ num_language }} languages.
    </p>
    <br>
    <p>Click the links in the left panel to take a look.</p>
    {% comment %} TODO: change from HTML list format to table {% endcomment %}
{% endblock content %}